@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Reem+Kufi+Ink&display=swap');

nav a {
    text-align: center;
    background-color: lightcoral;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    color: blueviolet;
    background-color: lightcoral;
}
.home-title {
    color: black;
    font-family: 'Open Sans', 'Reem Kufi Ink';
    font-size: 2em;
    margin-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: black;
}
body {
    background-color: white;
    font-family: 'Open Sans', 'Reem Kufi Ink';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: lightcoral;
}
.book, .join {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: blueviolet;
    color: black;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #000000;
}
#hero-img {
    width: 80px;
}
#hero-msg h4 {
    text-align: center;
    background-color: white;
}
#hero-msg h1 {
    text-align: center;
    background-color: white;
}
.button-box {
    text-align: center;
    background-color: white;
}
main section {
    text-align: center;
    background-color: white;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: royalblue;
}
.msg {
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
    padding-bottom: 15px;
}
footer {
    background-color: lightcoral;
}
footer h3 {
    color: black;
    font-size: 1.2em;
}
footer a  {
    color: black;
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}
footer a:hover {
    color: blueviolet;
}
footer p a:hover {
    text-decoration: underline;
}